{% extends "base.html" %}


{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/letters.css' %}"/>
{% endblock %}

{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-sm-10 offset-sm-1 offset-md-3 col-md-6">
            <h1>Print Letters</h1>
            <form action="" method="post"  class="form"  id="print_letters_form">{% csrf_token %}
                {{ filter.form.as_p }}
                <input type="submit" id="print-btn" class="btn btn-primary" value="Print Today's Letters"/>
            </form>
        </div>
      </div>
    </div>
{% endblock %}
