<body>
    <div class="page-header">
        <h1></h1>
    </div>
    <div class="nav">
        <ul>
            <li><a href="/">Check Hunters</a></li>
            <li><a href="{% url 'admin:accounts_account_changelist' %}">Accounts</a></li>
            <li><a href="{% url 'admin:accounts_check_changelist' %}">Checks</a></li>
        </ul>
    </div>
    <div class="content container">
        {% block content %}
        <h1>Welcome to Check Hunters</h1>
        {% endblock %}
        </div>
    </div>
</body>