body {
<<<<<<< HEAD
  margin: 0 auto;
=======
  text-align: center;
>>>>>>> 60935df7225065d0df8ae642fd03e156a0b25768
}

form {
  display: inline-block;
  position: relative;
  margin-bottom: 50px;
}

<<<<<<< HEAD
input[type="submit"]{
  position: absolute;
  bottom: -20px;
  right: 0px;
}


table {
  width: 100%;
}

form p {
  margin: 0px 20px;
  width: 200px;
}
=======
p, input {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

th {
  padding: 10px;
}
>>>>>>> 60935df7225065d0df8ae642fd03e156a0b25768
