body {
  text-align: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px; 
}

form {
  display: inline-block;
  position: relative;
  margin-bottom: 50px;
}

table {
  width: 100%;
  text-align: center;
}

form p {
  margin: 0px 20px;
  width: 200px;
}

td, th, input {
  margin: 10px;
}

.align-it {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  margin-top: 20px;
}


div.add_check form {
  display: inline-block;
  position: relative;
  margin-bottom: 50px;
}

div.add_check form p {
  width: 100%;
  text-align: left;
  margin: 0px 20px;
}

div.add_check span.helptext{
  display: flow-root;
  top: 50px;
  text-align: center;
}

@media only screen and (min-width: 410px) and (max-width: 1200px) {
  .form {
    display: inline;
    margin: 0 auto;
  }

  .form > p {
    margin-left: 25%;
  }
}
