.check-hunters-image {
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


.check-hunters-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  text-align: center;
}

.login {
  background-color: white;
  opacity: .8;
}

#logo {
  min-width: 225px;
}

#reports-btn {
  height: 50px;
  width: 150px;
}
