body {
  text-align: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

form {
  display: inline-block;
}

input {
  margin: 0 auto;
}

.btn {
  margin: 10px;
}

.success {
  margin-top: 30px;
  list-style: none;
  color: green;
}
